@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* background-image: url('../img/split_background.png');
    background-repeat: no-repeat; */
}

/* ESTILOS DEL NAV FRONT*/
nav.nav-front{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: white;
    padding: 1em;

    background: rgba(0, 123, 255, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

div.enlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: auto;
}

div.enlaces a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    align-items: center;
}

a#cita{
    padding: .5em;
    border-radius: 1em;
    background: #BCC4E2;
}

/* ESTILOS DEL NAV FRONT*/
nav.nav-back{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: white;
    padding: 1em;

    background: rgba(180, 180, 180, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ESTILOS DEL MAIN*/
main{
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

div.texto-principal{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 1000px;
    height: auto;
    text-align: center;
}

/* ESTILOS SERVICIOS */
div.servicios{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* ESTILOS DEL FOOTER FRONT*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #005cbf;
    width: 100vw;
    padding: 1em;
    color: white;
}

.contenedor-login{
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border-radius: 2em;

    padding: 2em;
    background: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/*ESTILOS CONTACTO*/
div.contenedorContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5em;
}

form.formularioContacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.mapaContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

div.campos-formulario{
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.contenedorDataList{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.register-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    width: 900px;
    height: auto;
    border: 1px solid black;
    background: #4a5568;
}

.registros{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

ul.pagination li a {
    font-size: 14px;
}
